* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: #779ed7;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.page {
    background-color: #d5dadb;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1024px;
    text-align: center;
    display: none;
}

.page.active {
    display: block;
}

#lesson-select {
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 18px;
}

#start-button,
#part1-button,
#part2-button,
#part3-button,
#next-button,
#finish-button,
#restart-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

#start-button {
    background-color: #007bff;
    color: #fff;
}

#start-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    /* Di chuyển nút lên 2px */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Thêm đổ bóng */
}

#next-button {
    background-color: #28a745;
    color: #fff;
}

#next-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#finish-button {
    background-color: #dc3545;
    color: #fff;
}

#restart-button {
    background-color: #6c757d;
    color: #fff;
}

#restart-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    /* Di chuyển nút lên 2px */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Thêm đổ bóng */
}

.answer-option {
    display: block;
    width: 100%;
    font-size: 18px;
    text-align: left;
    padding: 12px;
    margin: 8px 0;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
}

.answer-option:hover {
    background-color: #e9ecef;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Thêm đổ bóng nhẹ */
}

.answer-option.correct {
    background-color: #d4edda;
    border-color: #c3e6cb;
    font-weight: bold;
}

.answer-option.incorrect {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    font-weight: bold;
}

#feedback-message {
    margin-top: 15px;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    display: none;
}

#feedback-message.correct {
    background-color: #d4edda;
    color: #155724;
}

#feedback-message.incorrect {
    background-color: #f8d7da;
    color: #721c24;
}